<html>
<head>
<style type="text/css"><!--
body {
  font-family: Calbri, Cambria, Arial;
  font-size: 14px;
}
table.open {
}
table.closed {
  color: gray;
}
td {
  padding: 2px 4px;
  vertical-align:top;
}
--></style>
</head>
<body>
<% issues_sorted = issues.sort{|a,b| b.tracker_rank <=> a.tracker_rank} %>
<h3>Open Issues</h3>
<table class="open">
<% issues_sorted.select{|i| i.is_open}.each do |issue| %>
<%= issue.tr %>
<% end %>
</table>

<h3>Closed Issues</h3>
<table class="closed">
<% issues.select{|i| i.is_closed && !(i.is_bug) }.each do |issue| %>
<%= issue.tr %>
<% end %>
<% issues.select{|i| i.is_closed && i.is_bug }.each do |issue| %>
<%= issue.tr %>
<% end %>
</table>
</body>
</html>
